body {

  background: linear-gradient(120deg, #d3dcea, skyblue);
  background-size: cover;

}

#nav {
  width: 900px;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  float: left;
}

#nav a {
  display: block;
  text-align: center;
  width: 150px;
}

div .container {
  clear: both;
}
